* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

:root {
  --light-orange: #fb6900;
  --dark-orange: #f63700;
  --dark-teal: #004853;
  --mid-teal: #007e80;
  --light-teal: #00b9bd;
}
