@import './styles/variables';

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(to bottom, $dark-teal, $mid-teal) center center /
    cover no-repeat;
  height: 100vh;
}
